<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="barchart.css">-->
		<script type="text/javascript" src="../../lib/js/d3.min.js"></script>
		<title>In and out links</title>
	</head>

	<body>
		<div id="svg_container">
		</div>
		<script type="text/javascript" src="in_out_links_noart.js" defer></script> <!-- in_out_links_all   in_out_links_noart  -->
	<body>
	<style type="text/css">
	body{
		margin: 0;
		padding: 0;
		font-family: Open Sans, Tahoma, Sans-serif;
		font-weight: 0.5em;
	}
	.bubble{
		opacity: 0.7;
	}
	
	.red{
		stroke:red;
	}
	.o_line{
		stroke: black;
	}
	.v_line{
		stroke:red;
	}
	.domain{
		fill:none;
		stroke: none;
	}
	.tick line{
		fill: gray;
		stroke:gray;
	}
	</style>
</html>