<!DOCTYPE HTML>
<html>
    <head>
        <title>Datasets</title>
        <link rel="stylesheet" type="text/css" href="assets/lib/css/view.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/css/sidr.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/css/sidr_light.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body> 
        <div id="topbar">
            <div class="container">
                <main class="row">
                    <div class="col-md-3 col-sm-5">
                        <a id="simple-menu" href="#sidr"  style="padding-left:0"><i class="fa fa-bars fa-lg"></i></a>
                        <a href="index.html" style="font-weight:bold; padding-left:0;">Wikipedia Primary School</a>
                    </div>
                    <a href="index.html"  class="first_menu">Articles</a>
                    <a href="datasets.html" class="first_menu">Datasets</a>
                    <a href="protocols.html" class="here first_menu">Protocols</a>
                </main>
            </div>
        </div>

        <div id="sidr">
              <ul>
                <li><a href="index.html">Articles</a></li>
                <li><a href="datasets.html">Datasets</a></li>
                <li><a href="protocols.html" class="here">Protocols</a></li>
            </ul>
        </div>

        <div class="container">
        
            <!--<main>-->
                <header class="row" id="header">
                    <div class="col-md-12">
                        <h1>Protocols</h1>
                        <!--<h4>
                            <a href="https://meta.wikimedia.org/wiki/Research:Wikipedia_Primary_School_SSAJRP_programme/Evaluation" target="_blank">Wikimedia page</a>
                        </h4>-->
                        <h5>
                            Last update: August 9<sup>th</sup> 2017
                        </h5>
                    </div>
                </header>
            <!--</main>-->
                
            <hr class="line">

            <div class="row content">
                <div class="col-md-12 protocol">
                    <h4>Protocols index</h4>
                    <ol>
                        <li><a href="#before_start">Before start</a></li>
                        <li><a href="#articles_network">Articles network</a></li>
                        <li><a href="#incoming_links_network">Network of incoming links</a></li>
                        <li><a href="#in_out_links_balance">Incoming and outgoing links</a></li>
                        <li><a href="#page_views">Page views</a></li>
                    </ol>
                </div>

                <div class="col-md-12 protocol">
                    <h4><a name="before_start">Before start</a></h4>
                    <p>Please run the script to check the title of the articles (it may change over time).</p>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/index.html" target="_blank">wikimole/scraper</a></li>
                        <li>Click on Check article title</li>
                    </ol>
                </div>

                <div class="col-md-12 protocol">
                    <h4><a name="articles_network">Articles network</a></h4>
                    <p>The visualization aims to explore the correlation among the articles under consideration of the project. <br/><u>Visualization</u>: Every article is represented by a bubble. The big is the bubble the more incoming links it has. The close bubbles are the more incoming links they have in common. The colors represent the clusters of articles according to their modularity class.</p>

                    <h5>Data scraping</h5>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/python/scrape_inOut_links.py" target="_blank">wikimole/scraper/lib/scrape_inOut_links.py</a></li>
                        <li>Run the function get_incoming_links()</li>
                    </ol>

                    <h5>Data parsing</h5>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/python/parse_nodesEdges.py" target="_blank">wikimole/scraper/lib/parse_nodesEdges.py</a></li>
                        <li>Run the function count_co_occurrences() to get the raw file with the list of co-occurrences</li>
                        <li>Create an Excel file and import the file gathered through the previous step</li>
                        <li>Make a pivot table with the following columns: couple (source + target), count (number of co-occurrences)</li>
                        <li>Import the pivot table in a text editor</li>
                        <li>Replace "---" with a tab and insert the header: source, target, weight. Then you got the edges file</li>
                        <li>Make the nodes file with the following header: id (article title), label (article title)</li>
                    </ol>

                    <h5>Data visualization</h5>
                    <ol>
                        <li>Open a new Gephy project</li>
                        <li>In the Data laboratory tab: Import the nodes file</li>
                        <li>Import the edges file</li>                        
                        <li>In the Overview tab: Run the modularity class (resolution 1)</li>
                        <li>Go to Appearence/Nodes/Color/Ranking and choose the attribute Modularity Class</li>
                        <li>Go to Appearence/Nodes/Size/Ranking and choose the attribute In-Degree (min size 3, max size 20)</li>
                        <li>Run the Force Atlas 2, then apply the Prevent overlap</li>
                        <li>Run the Noverlap layout</li>
                        <li>In the Preview tab: set curved edges, nodes labels with no proportional size</li>
                        <li>Export the svg file to be further edited in a vector graphics editors</li>
                    </ol>
                </div>

                <div class="col-md-12 protocol">
                    <h4><a name="incoming_links_network">Network of incoming links</a></h4>
                    <p>The visualization aims to explore the correlation among the articles under consideration of the project and the articles linked to them. <br/><u>Visualization</u>: Every article is represented by a bubble. The big is the bubble the more incoming links it has. The close bubbles are the more incoming links they have in common. The colors represent the clusters of articles according to their modularity class.</p>

                    <h5>Data scraping</h5>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/python/scrape_inOut_links.py" target="_blank">wikimole/scraper/lib/scrape_inOut_links.py</a></li>
                        <li>Run the function get_incoming_links() and get the file with the list of incoming links</li>
                    </ol>

                    <h5>Data parsing</h5>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/python/parse_nodesEdges.py" target="_blank">wikimole/scraper/lib/parse_nodesEdges.py</a></li>
                        <li>Run the function get_edges() to get the edges file</li>
                        <li>Make the nodes file with the following header: id (article title), label (article title)</li>
                    </ol>

                    <h5>Data visualization</h5>
                    <ol>
                        <li>Open a new Gephy project</li>
                        <li>In the Data laboratory tab: Import the nodes file</li>
                        <li>Import the edges file</li>                        
                        <li>In the Overview tab: Run the modularity class (resolution 1)</li>
                        <li>Go to Appearence/Nodes/Color/Ranking and choose the attribute Modularity Class</li>
                        <li>Go to Appearence/Nodes/Size/Ranking and choose the attribute In-Degree (min size 3, max size 20)</li>
                        <li>Run the Force Atlas 2, then apply the Prevent overlap</li>
                        <li>Run the Noverlap layout</li>
                        <li>In the Preview tab: set curved edges, nodes labels with no proportional size</li>
                        <li>Export the svg file to be further edited in a vector graphics editors</li>
                    </ol>
                </div>

                <div class="col-md-12 protocol">
                    <h4><a name="in_out_links_balance">Incoming and outgoing links</a></h4>
                    <p>The visualization visualize the balance between incoming and outgoing links.<br/><u>Visualization</u>: Every article is represented by bars visualizing the number of incoming links and outoing links divided for typology (articles, users, categories, templates, portals).</p>

                    <h5>Data scraping</h5>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/python/scrape_inOut_links.py" target="_blank">wikimole/scraper/lib/scrape_inOut_links.py</a></li>
                        <li>Run the function get_incoming_links() and get the file with the list of incoming links</li>
                        <li>Run the function get_outgoing_links() and get the file with the list of outgoing links</li>
                    </ol>

                    <h5>Data parsing</h5>
                    <ol>
                        <li>Create an Excel file and import both the files with incoming links and outgoing links</li>
                        <li>Create the dataset to be visualized like the following: <a href="https://github.com/giovannipro/wikimole/blob/mastindex.html/assets/data/20170803/in_out_links_2017.csv" target="_blank">wikimole/views/dataviz/in_out_links/in_out_links_2017.csv</a></li>
                    </ol>

                    <h5>Data visualization</h5>
                    <ol>
                        <li>Import the dataset in the script: <a href="https://github.com/giovannipro/wikimole/blob/mastindex.html/dataviz/in_out_links/in_out_links_all.js" target="_blank">wikimole/dataviz/in_out_links/in_out_links_all.js</a></li>
                        <li>Export the svg file to be further edited in a vector graphics editors</li>
                    </ol>
                </div>

                 <div class="col-md-12 protocol">
                    <h4><a name="page_views">Page views</a></h4>
                    <p>The visualization shows the page views over time.<br/><u>Visualization</u>: the visualization shows the amount of page views day by day. Due to very high picks the page views are displayed as horizon charts.</p>

                    <h5>Data scraping</h5>
                    <ol>
                        <li>Go to <a href="https://github.com/giovannipro/wikimole/blob/master/scraper/python/scrape_page_views.py" target="_blank">wikimole/scraper/lib/scrape_page_views.py</a></li>
                        <li>Run the function scrape_pv_after_2015()</li>
                    </ol>

                    <!-- <h5>Data parsing</h5>
                    <ol>
                        <li>b</li>
                    </ol> -->

                    <h5>Data visualization</h5>
                    <ol>
                        <li>Import the dataset in the script: <a href="https://github.com/giovannipro/wikimole/blob/mastindex.html/dataviz/pageviews/pageviews.js" target="_blank">wikimole/dataviz/pageviews/pageviews.js</a></li>
                        <li>Export the svg file to be further edited in a vector graphics editors</li>
                    </ol>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        Licensed under the <a href="http://creativecommons.org/licenses/by-sa/4.0/" title="Attribution-ShareAlike License" target="_blank">Creative Commons Attribution-ShareAlike 4.0 Unported License</a>.
                    </div>
                </div>
            </div>
        </footer>
         
        <script src="assets/lib/js/jquery-1.11.1.min.js"></script>
        <script src="assets/lib/js/jquery.sidr.js"></script><!-- mobile menu -->        
        <script type="text/javascript">
            
            $(document).ready(function() {
                  $('#simple-menu').sidr();
            });

        </script>        
    </body>
</html>