<!DOCTYPE HTML>
<html>
	<head>
		<title>Updates</title>
		<link rel="stylesheet" type="text/css" href="lib/css/view.css">
		<link rel="stylesheet" type="text/css" href="lib/css/sidr.css">
		<link rel="stylesheet" type="text/css" href="lib/css/sidr_light.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
		<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	</head>
	<body onload="updated_articles_list()"> 
		<div id="topbar">
			<main>
				<a id="simple-menu" href="#sidr"  style="padding-left:0"><i class="fa fa-bars fa-lg"></i></a>
				<a href="articles_list.html" style="font-weight:bold; padding-left:0;">Wikipedia Primary School</a>
				<a href="articles_list.html"  class="first_menu">Articles</a>
				<a href="updates.html" class="here first_menu">Updates</a>
			</main>
		</div>

		<div id="sidr">
		  	<ul>
				<li><a href="articles_list.html"  class="here">Articles</a></li>
				<li><a href="updates.html">Updates</a></li>
		 	 </ul>
		</div>

		<main>
			<header id="header">
				<h1>Updates</h1>
				<h4>
					<a href="https://en.wikipedia.org/wiki/Wikipedia:WikiProject_South_Africa/Wikipedia_Primary_School/Articles_list" target="_blank">Official list of articles in Wikipedia</a>
					&#9679;
					<a href="https://dl.dropboxusercontent.com/u/95554914/wikipedia_primary_school/views/wikiDataviz.pdf" target="_blank">Data visualization (draft)</a>
				</h4>
				<h5>
					Last update: March 2<sup>nd</sup>, 2016
				</h5>
			</header>
			
			<hr class="line">
			
			<div class="box_100">
				<h3>Articles list</h3>
				<h5>For the visualizations both new and deleted articles will be considered.</h5>
				
				<span style="width: 25px; height:25px; background-color:#5AFF85; padding: 7px;">New articles</span>
				<span style="width: 25px; height:25px; background-color:#FF423B; padding: 7px;">Deleted articles</span>
				<hr style="margin-top:10px;">
				<div id="new_articles"></div> 
			</div>
			
			<!--<div class="box_50">
				<h3>Deleted articles</h3>
				<div id="deleted_articles"></div> 
			</div>-->

			<!--<div class="clear"></div>-->
		</main>

		<style type="text/css"></style>
		<script type="text/javascript">

			function updated_articles_list() {

				var template_source = 'template/updates.tpl';
				var data_source = 'data/updated_articles_list.json';
				var target = '#new_articles';


				$.get( template_source , function(tpl) {
					$.getJSON( data_source , function(data) {

						var template = Handlebars.compile(tpl); 

						$(target).html(template(data));

					});

				});

			}

		</script>

		<script src="lib/js/jquery-1.11.1.min.js"></script><!-- defer -->
		<script src="lib/js/handlebars-v4.0.2.js"></script><!-- defer -->
		<!-- mobile menu -->
 		<script src="lib/js/jquery.sidr.js"></script>

 		<script>

			Handlebars.registerHelper('iff', function(a, operator, b, opts) {
			var bool = false;
			switch(operator) {
				case '==':
				bool = a == b;
				break;
				case '>':
				bool = a > b;
				break;
				case '<':
				bool = a < b;
				break;
				default:
				throw "Unknown operator " + operator;
			}

			if (bool) {
				return opts.fn(this);
			} else {
				return opts.inverse(this);
			}
		});

		Handlebars.registerHelper("math", function(lvalue, operator, rvalue, options) {
		    lvalue = parseFloat(lvalue);
		    rvalue = parseFloat(rvalue);
		        
		    return {
		        "+": lvalue + rvalue,
		        "-": lvalue - rvalue,
		        "*": lvalue * rvalue,
		        "/": lvalue / rvalue,
		        "%": lvalue % rvalue
		    }[operator];
		});

		var rendered = Handlebars.compile(
		   	'{{#each values}}' + 
		   	'i={{@index}}: ' +
		    'i+1 = {{math @index "+" 1}}, ' + 
		    'i-0.5 = {{math @index "+" "-0.5"}}, ' + 
		    'i/2 = {{math @index "*" 2}}, ' + 
		    'i%2 = {{math @index "%" 2}}, ' + 
		    'i*i = {{math @index "*" @index}}\n' +
		    '{{/each}}'
		)({
		    values : [ 'a', 'b', 'c', 'd', 'e' ]
		});


		</script>
	
		<script type="text/javascript">
		
			$(document).ready(function() {
			  	$('#simple-menu').sidr();
			});

		</script>

	</body>
</html>
