<html>
	<head>
		<!--<link rel="stylesheet" type="text/css" href="barchart.css">-->
		<script type="text/javascript" src="../../lib/js/d3.min.js"></script>
		<title>Most edited articles</title>
	</head>

	<body>
		<div id="svg_container">
		</div>
		<script type="text/javascript" src="edited_articles.js" defer></script>
	<body>
	<style type="text/css">
	body{
		margin: 0;
		padding: 0;
		font-family: Open Sans, Tahoma, Sans-serif;
		font-weight: 0.5em;
	}
	.bubble{
		opacity: 0.7;
	}
	</style>
</html>