<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">        
        <!--<link rel="stylesheet" href="../../lib/css/view.css" rel="stylesheet">-->
        <title>Page views</title>
    </head>
    <body>
        <div id="svg_container"></div>

        <script type="text/javascript" src="../../assets/lib/js/d3.min.js"></script>
        <!--<script src="https://d3js.org/d3.v4.min.js"></script>-->
        <script type="text/javascript" src="../../assets/lib/js/horizon.js"></script>
        <!-- <script src="https://unpkg.com/d3-horizon-chart"></script> -->
        <script type="text/javascript" src="pageviews.js"></script>

        <style>
            body{
                margin: 0;
                padding: 0;
                font-family: Open Sans, Tahoma, Sans-serif;
                font-weight: 0.5em;
            }
            /*path{
                stroke:red;
                fill:red;
            }
            .svg_content path, .area {
                path :red ;
            }*/
            .vlines path{
                fill:none;
                stroke:none;
            }
        </style>

    </body>
</html>